body{
 text-align: center;
 font-family: Arial,sans-serif;
 scroll-behavior: smooth;
}

header{
line-height: 16px;
background: #502f55;
max-width: 800px;
margin: auto;
overflow: hidden;
color: #fff;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

}
main {
max-width: 800px;
margin: auto;
 background:#502f55;
 padding-bottom: 10px;
}
main p{
color: #fff;
}    
#image{
	box-sizing:border-box;
  width: 800px;
  margin: auto;
  min-height: 400px;
	max-width: 100%;
  border: 3px solid #333;
  text-align: center;
	position: relative;
	line-height: 400px;
	background:#fff;
}
#image span{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
	color: #ccc;
	cursor: pointer;
	padding-top:150px;
}
input[type=file]{
  background: #502f55;
}
#output{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /*position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;*/
  max-width: 100%;
  max-height: 400px;
  
}
.filter{
	position: relative;
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	display: inline-block;
	background: #000 ;
	background-image: radial-gradient(#000,#333,#000);
	color: #fff;
	line-height: 100px;
	overflow: hidden;
	cursor: pointer;
}
.filter:first-child{
	margin-left: 5px;
}
.filter:active, .filter:hover{
	transform: scale(1.05);
}
.filter span{
position: absolute;
z-index: 10;
left:0;
top: 0;
right: 0;
bottom: 0;
font-size: 14px;
	text-transform: uppercase;
	text-shadow: 1px 1px #333;
	text-align: center;
	-webkit-user-select: none;
}
.filter img{
	display: none;
	object-fit: cover;
	width: 100px;
	height: 100px;
	position: absolute;
	left:0;
	right:0;

}
.grayscale img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);	
}
.blur img{
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	filter: blur(3px);	
}
.contrast img{
	-webkit-filter: contrast(150%);
	-moz-filter: contrast(150%);
	filter: contrast(150%);	
}
.brightness img{
	-webkit-filter: brightness(150%);
	-moz-filter: brightness(150%);
	filter: brightness(150%);	
}
.sepia img{
	-webkit-filter: sepia(100%);
	-moz-filter: sepia(100%);
	filter: sepia(100%);
}
.saturate img{
	-webkit-filter: saturate(200%);
	-moz-filter: saturate(200%);
	filter: saturate(200%);
}
.opacity img{
	-webkit-filter: opacity(50%);
	-moz-filter: opacity(50%);
	filter: opacity(50%);
}
.invert img{
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	filter: invert(100%);	
}
.hue-rotate img{
	-webkit-filter: hue-rotate(180deg);
	-moz-filter: hue-rotate(180deg);
	filter: hue-rotate(180deg);	
}
.filters-wrapper .filters-container{
height: 130px;
text-align: left;
	width: 1070px;
}
.filters-wrapper{
overflow: hidden;
	max-width: 800px;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	/*overflow-y: none;*/
	margin: 0 auto;
}
.filters-wrapper::-webkit-scrollbar-thumb{
	height: 3px;
	background: grey;
}
.filters-wrapper::-webkit-scrollbar{
	height: 3px;
	background: #CCC;
}
.upload-btn{
	width: 170px;
	height: 40px;
	margin: 10px auto 0;
	background: #26c9ff;	
	border-radius: 3px;
	color: #fff;
	line-height: 40px;
	cursor: pointer;
	}